In [1]:
import pandas as pd
X = pd.DataFrame({'city':['tokyo',None,'london','seattle','san fancisco','tokyo'],
                  'boolean':['y','n',None,'n','n','y'],
                  'ordinal_column':['somewhat like','like','somewhat like','like','somewhat like','dislike'],
                  'quantitative_column':[1,11,-.5,10,None,20]})
X

           city boolean ordinal_column  quantitative_column
0         tokyo       y  somewhat like                  1.0
1          None       n           like                 11.0
2        london    None  somewhat like                 -0.5
3       seattle       n           like                 10.0
4  san fancisco       n  somewhat like                  NaN
5         tokyo       y        dislike                 20.0

In [2]:
from sklearn.base import TransformerMixin

In [5]:
# 用众数来填充空值
class CustomCategoryInputer(TransformerMixin):
    def __init__(self,cols=None):
        self.cols = cols
    def transform(self,df):
        X = df.copy()
        for col in self.cols:
            X[col].fillna(X[col].value_counts().index[0], inplace=True)
        return X
    def fit(self,*_):
        return self

In [6]:
# 调用自己的填充器
cci = CustomCategoryInputer(cols=['city','boolean'])
cci.fit_transform(X)

           city boolean ordinal_column  quantitative_column
0         tokyo       y  somewhat like                  1.0
1         tokyo       n           like                 11.0
2        london       n  somewhat like                 -0.5
3       seattle       n           like                 10.0
4  san fancisco       n  somewhat like                  NaN
5         tokyo       y        dislike                 20.0